<%= form_for(@trainer) do |f| %>

  <div class="field">
    <%= f.label :siren %><br>
    <%= f.text_field :siren %>
  </div>
  <div class="field">
    <%= f.label :sigle %><br>
    <%= f.text_field :sigle %>
  </div>
  <div class="field">
    <%= f.label :effectif %><br>
    <%= f.number_field :effectif %>
  </div>
  <div class="field">
    <%= f.label :adresse %><br>
    <%= f.number_field :adresse %>
  </div>
  <div class="field">
    <%= f.label :nom_dirigeant %><br>
    <%= f.text_field :nom_dirigeant %>
  </div>
  <div class="field">
    <%= f.label :email_dirigeant %><br>
    <%= f.text_field :email_dirigeant %>
  </div>
  <div class="field">
    <%= f.label :crawled_for_email %><br>
    <%= f.check_box :crawled_for_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
